<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family: Tahoma, serif;
            text-align: center;
        }
        button, input{
            font-size: 15px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Log IN</title>
</head>
<body>
<h1>Login User</h1>
<form action="/user/login" method="POST">
    <label>Email Address: </label>
    <input type="email" name="email" placeholder="johndoe@gmail.com" required/>
    <br><br>
    <label>Password: </label>
    <input type="password" name="password" placeholder="Enter Password" required/>
    <br><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>